<ion-header no-shadow no-border>
  <ion-navbar transparent>
    <ion-buttons end>
      <button ion-button icon-right (click)="skipSlides()" color="light">Skip <ion-icon name="ios-arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="fullscreen-image">

  <ion-slides pager>


    <ion-slide>

      <img class="logo" src="assets/imgs/logo.png" width="128px" height="128px" />
      <h2 class="slide-title">Welcome to MovieCard!</h2>
      <p>Quickly find the latest releases and upcoming movies.</p>
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">Customize MovieCard:</h2>
      <p>Select your country and language so we can customize the app to your region:</p>
      <ion-list>
        <ion-item>
          <ion-label>Country</ion-label>
          <ion-select [(ngModel)]="countrySelect">
            <ion-option *ngFor="let country of countries" value="{{country.iso_3166_1}}">{{country.english_name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>Language</ion-label>
          <ion-select [(ngModel)]="languageSelect">
            <ion-option *ngFor="let language of languages" value="{{language.iso_639_1}}">{{language.english_name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <button ion-button block outline color="light" (click)="setPreferences()">
        Set Preferences
      </button>

    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">Ready? <br /> Let's get started!</h2>

      <div padding>
        <button ion-button block outline color="light" (click)="skipSlides()">
          Get Started
        </button>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
