page-welcome {
  ion-slide {
    color: white;
    ion-item {
      background-color: transparent !important;
    }
    ion-select , * {
      color: white;
    }
  }

  .slide-title {
    font-size: 32px;
  }
  .logo {
    width: 128px;
    height: 128px;
  }

  .swiper-pagination-bullet-active {
    background-color: map-get($colors, "light");
  }
}
